extends layouts/main-layout.pug

block content
    if errorMessage
        span.errorMessage.noResults #{errorMessage}
    else
        script.
            const chatId = `!{chat._id}`;

        .chatPageContainer 
            .chatTitleBarContainer
                +createChatImage(chat, userLoggedIn)
                .span#chatName(data-toggle="modal", data-target="#chatNameModal") #{chat.chatName}
            .mainContentContainer
                .loadingSpinnerContainer
                    img(src="/images/BeanEater-trans.gif", alt="loading spinner")
                .chatContainer(style="visibility: hidden")
                    ul.chatMessages
                    .typingDots
                        img(src="/images/ellipsis_green.gif", alt="typing dots")
                    .footer
                        textarea.inputTextbox(name="messageInput", placeholder="Type a message...")
                        button.sendMessageButton 
                            i.fas.fa-paper-plane
        +createChatNameModal(chat)
block scripts 
    script(src="/js/chatPage.js") 