extends layouts/main-layout.pug

block content
	.resultsContainer

block headerButton
	button#markNotificationsAsRead
		i.fas.fa-check-double

block contentRight
	.rightSection.fixed-top.notiRight
		button#allNoti.rightMenu.active All
		button#followNoti.rightMenu follow
		button#replyNoti.rightMenu reply
		button#retweetNoti.rightMenu retweet
		button#likeNoti.rightMenu like

block scripts 
	script(src="/js/notificationsPage.js") 