body {
	background: #A1FFCE;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100vh;
}

.wrapper {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.loginContainer {
	padding: 20px;
	width: 80%;
	max-width: 500px;
	border: 1px solid #dedede;
	background-color: whitesmoke;
	text-align: center;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

form {
	display: flex;
	flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	margin-bottom: 20px;
	padding: 5px 10px;
	border-radius: 2px;
	border: 1px solid #dedede;
	background-color: #f2f2f2;
}

input[type="submit"] {
	display: flex;
	align-self: center;
	justify-content: center;
	background-color: #FAFFD1;
	border: none;
	border-radius: 2px;
	padding: 10px;
	margin-bottom: 10px;
	width: 30%;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

input[type="submit"]:hover {
	background-color: #bbf5d7;
	box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}