:root {
    --leaf_green: #04802d;
    --light_green: #97d58a;
    --pale_green: #e2f2e7;
    --maybe_green: #e2f2e7a7;
    --light_grey: #e6ecf0;
    --spacing: 15px;
    --grey_text: #657786;
    --grey_button_text: #00000057;
    --blue: #1fa2f1;
    --pale_blue: #e3f0f9d0;
    --red: #e2225e;
    --pale_red: #fae5ecbd;
}

* {
    outline: none !important;
}

a {
    color: inherit;
}
a:hover {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 19px;
    font-weight: 800;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
}

nav a {
    display: block;
    padding: 10px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212529;
}

nav .logoImage {
    width: 35px;
    height: 35px;
}

nav a:hover {
    color: var(--leaf_green);
    background-color: var(--pale_green);
    border-radius: 50%;
}

button {
    background-color: transparent;
    border: none;
    color: var(--grey_button_text);
}

button i,
button span {
    pointer-events: none;
}

.wrapper > .row {
    margin: 0;
}

.mainSectionContainer {
    padding: 0;
    border-left: 1px solid var(--pale_green);
    border-right: 1px solid var(--pale_green);
    display: flex;
    flex-direction: column;
}

.titleContainer {
    height: 53px;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--pale_green);
    flex-shrink: 0;
}

.titleContainer h1 {
    flex: 1;
}

.postFormContainer {
    display: flex;
    padding: var(--spacing);
    border-bottom: 5px solid var(--pale_green);
    flex-shrink: 0;
}

.modal .postFormContainer {
    border: none;
    padding: 0;
    padding-top: var(--spacing);
}

.modal p {
    margin-bottom: 0;
}

.userImageContainer {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userImageContainer img {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
}

.textareaContainer {
    flex: 1;
    padding-left: var(--spacing);
}

.textareaContainer textarea {
    width: 100%;
    border: none;
    resize: none;
    font-size: 19px;
}

.postButton {
    background-color: var(--leaf_green);
    color: white;
    border: none;
    border-radius: 40px;
    padding: 7px 15px;
}

.postButton:disabled {
    background-color: var(--light_green);
}

.postsContainer {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor: pointer;
    border-bottom: 1px solid var(--pale_green);
    flex-shrink: 0;
}

.post {
    flex: 1;
    margin-bottom: var(--spacing);
}

.largeFont {
    border-left: 6px solid var(--leaf_green);
    border-right: 6px solid var(--leaf_green);
    border-radius: 10px;
    padding-left: var(--spacing);
}

.largeFont .postBody,
.largeFont .postFooter
{
    font-size: 18px;
}

.postActionContainer {
    padding-left: 60px;
    font-size: 13px;
    color: var(--grey_text);
}

.mainContentContainer {
    flex: 1;
    display: flex;
}

.postContentContainer {
    padding-left: var(--spacing);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.postHeader {
    display: flex;
}

.postHeader a,
.postHeader span {
    padding-right: 5px;
}

.displayName {
    font-weight: bold;
}

.displayName:hover {
    text-shadow: 1px 3px var(--pale_green);
}

.username,
.date {
    color: var(--grey_text);
}

.date {
    flex: 1;
}

.confirmPinButton.active {
    color: var(--leaf_green);
}

.deletePostButton {
    margin-right: var(--spacing);
}

.deletePostButton:hover {
    color: red;
}

.replyFlag {
    font-size: 15px;
    margin-bottom: 5px;
    color: var(--grey_text);
}
.replyFlag a {
    color: var(--light_green);
}

.postFooter {
    display: flex;
    align-items: center;
}

.postFooter .postButtonContainer {
    flex: 0.8;
    display: flex;
    justify-content: space-between;
}

.postFooter .postButtonContainer button {
    margin-top: 10px;
    padding: 5px 10px;
}

.postButtonContainer button:hover {
    border-radius: 50%;
}

.postButtonContainer .replyButton:hover {
    background-color: var(--pale_green);
    color: var(--leaf_green);
}

.postButtonContainer .retweetButton:hover {
    background-color: var(--pale_blue);
    color: var(--blue);
}

.postButtonContainer .likeButton:hover {
    background-color: var(--pale_red);
    color: var(--red);
}

.postButtonContainer .retweetButton.active.blue {
    color: var(--blue);

}

.postButtonContainer button.active.red {
    color: var(--red);
}

.modal-body .post {
    padding: var(--spacing);
    border: 1px solid var(--pale_green);
}

.modal-header img {
    width: 30px;
}

.modal-title {
    display: center;
    align-self: center;
}

.modal-header .close:hover {
    color: red;
}

.noResults {
    padding: var(--spacing);
    display: flex;
}

.profileHeaderContainer .coverPhotoSection {
    height: 180px;
    background-color: var(--leaf_green);
    position: relative;
}

.coverPhotoContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coverPhotoContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileHeaderContainer .imageUploadButton {
    position: absolute;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.6);
    display: none;
}

.coverPhotoContainer:hover > .imageUploadButton {
    display: block;
}

.profileHeaderContainer .userImageContainer {
    height: 132px;
    width: 132px;
    margin-left: var(--spacing);
    position: absolute;
    bottom: -66px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileHeaderContainer .userImageContainer img {
    border: 4px solid var(--maybe_green);
}


.userImageContainer:hover > .imageUploadButton {
    display: block;
}

#imagePreview, #coverPhotoPreview {
    display: block;
    width: 100%; 
    max-width: 100%;
}

.profileHeaderContainer .profileButtonsContainer {
    text-align: right;
    padding: var(--spacing);
    min-height: 66px;
}

.profileButton,
.followButton {
    border: 1px solid var(--leaf_green);
    color: var(--leaf_green);
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 60px;
    display: inline-block;
    margin-left: var(--spacing);
}

.profileButton:hover,
.followButton:hover {
    color: var(--leaf_green);
    background-color: var(--pale_green);
}

.followButton.following {
    background-color: var(--leaf_green);
    color: white;
}

.profileHeaderContainer .userDetailsContainer {
    display: flex;
    flex-direction: column;
    padding: 0 var(--spacing);
}

.followersContainer .value {
    font-weight: bold;
    margin-right: 5px;
}

.followersContainer span:not(.value) {
    color: var(--grey_text);
}

.followersContainer a {
    margin-right: var(--spacing);
}

.followersContainer a:hover {
    background-color: var(--maybe_green);
    border-radius: 50%;
}

.tabsContainer {
    display: flex;
    border-bottom: 1px solid var(--light_grey);
    flex-shrink: 0;
}

.tab {
    flex: 1;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grey_text);
    font-weight: bold;
}

.tab.active {
    color: var(--leaf_green);
    border-bottom: 2px solid var(--leaf_green);
}

.tab:hover {
    color: var(--leaf_green);
    background-color: var(--pale_green);
}

.pinnedPostContainer {
    padding: var(--spacing);
    padding-bottom: 0;
    border-bottom: 10px solid var(--maybe_green);
}

.resultsContainer {
    display: flex;
    flex-direction: column;
}

.resultsContainer .user {
    padding: var(--spacing);
    display: flex;
    border-bottom: 1px solid var(--maybe_green);
}

.user .userDetailsContainer {
    flex: 1;
    padding: 0 var(--spacing);
}

.searchBarContainer {
    position: relative;
    color: var(--grey_text);
    padding: 10px var(--spacing);
}

.searchBarContainer i {
    position: absolute;
    top: 20px;
    left: 30px;
}

.searchBarContainer #searchBox {
    height: 36px;
    width: 100%;
    padding: 5px 15px 5px 40px;
    border-radius: 50px;
    background-color: var(--maybe_green);
    border: none;
    color: var(--grey_text);
}

.chatPageContainer {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.chatTitleBar {
    border-bottom: 1px solid var(--light_grey);
    display: flex;
    align-items: center;
    min-height: 60px;
    padding: 10px;
}

.chatTitleBar label {
    margin: 0 10px 0 0;
}

#userSearchTextbox {
    border: none;
    flex: 1;
    font-weight: 200;
    min-width: 350px;
}

#createChatButton {
    border: none;
    background-color: var(--leaf_green);
    color: #fff;
    padding: 7px 20px;
    margin: 10px auto;
    border-radius: 40px;
}

#createChatButton:disabled {
    background-color: var(--pale_green);
    color: var(--grey_button_text);
}

.selectedUser {
    font-weight: 400;
    background-color: var(--maybe_green);
    color: var(--leaf_green);
    padding: 5px;
    border-radius: 15px;
    margin: 5px 5px 0 0;
    display: inline-block;
}